  <div class="container" style="width: 800px;margin:300px auto;text-align:center">
    <h1>Let's do something!</h1>
    <p><%= link_to "Start playing", new_game_path, class: "btn btn-large btn-default" %></p>
    <p><%= link_to "What the fact?", questions_path, class: "btn btn-large btn-default" %></p>
  </div>  