  <div class="container" style="width: 800px;margin:300px auto;text-align:center">
    <h1 style="font-weight:normal">Let's do something!</h1>
    <div style="margin: 0px auto; width:300px">
    <p><%= link_to "", new_game_path, class: "btn-startplaying" %></p>
    <p><%= link_to "", questions_path, class: "btn-wtf" %></p>
    </div>
  </div>  