  <div class="container" style="width: 800px;margin:300px auto">
    <%= image_tag("thatapp.png", alt: "thatapp.sh") %>
    Let's do something!
    <%= link_to "Start playing", new_game_path, class: "btn btn-large" %>
    <%= link_to "What the fact?", questions_path, class: "btn btn-large" %>
  </div>  