
<%= form_for @game do |f| %>
<div class="offset3">
<h1>Select a character...</h1>
<ul class="thumbnails span6">
  <% @faces.each_index do |i| %>
    <li class="thumbnail span2" style="border:none">
    <%= button_tag "", class:"avatar avatar#{(i+1).to_s}", onclick: "setFace(#{(i+1).to_s})"%>
    <%=@faces[i]%>
    </li>
  <% end %>
</ul>
  <%= f.hidden_field :user_a_avatar %>
<% end %>
</div>
<script>
function setFace(i)
{
  $("#game_user_a_avatar").val(i);
  $("#new_game").submit();  
}
</script>